<div class="row">
	<div class="col-md-8">
		<nb-card>
		  <nb-card-header><h1>{{slider?.title}}</h1>{{slider?.name}}</nb-card-header>
		  <nb-card-body>
		  	<hr style="margin-top: 100px;">
		  	<div class="row">
			  	<div class="col-md-6">
				  	<p><b>Start date:</b> {{slider?.created_at | date:'dd MMM yyyy' | lowercase }}</p>
				  	<p><b>Algorithms tried:</b> 1</p>
				  	<p><b>Total interactions:</b> {{productClicks?.total_count}}</p>
			  	</div>
			  	<div class="col-md-6">
				  	<p><b>Total views:</b> {{productViews?.sessions_count}}</p>
				  	<p><b>Total sales:</b> ?</p>
				  	<p><b>Total recommendations:</b> {{productViews?.total_count}}</p>
			  	</div>
		  	</div>
		  </nb-card-body>
		</nb-card>
	</div>

	<div class="col-md-4">
		<nb-card size="small">
			<nb-card-header>
				<div class="row">
					<div class="col-md-4" style="margin-top: 5px;">
						Settings
					</div>
					<div class="col-md-8">
						<a class="header-button" nbButton [disabled]="!hasLiveLink()"  [href]="liveLink" target="_blank" status="info" size="small">View on your site</a>
					</div>
				</div>
			</nb-card-header>
			<nb-card-body>

				<div class="row form-group">
					<label class="col-md-3 col-form-label">Title</label>
					<div class="col-md-9">
						<input type="text" class="form-control-plaintext" #titleInput nbInput fullWidth [(ngModel)]="titleValue" />
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12"><nb-checkbox style="float: right;" type="checkbox" status="success" [(ngModel)]="isActive">Slider active</nb-checkbox></div>
				 </div>

				<div class="row">
					<div class="col-md-6 offset-md-3">
						<button [nbSpinner]="saveLoading" class="button" (click)="saveSlider()" nbButton fullWidth status="success">Save</button>
					</div>
				</div>

			</nb-card-body>
		</nb-card>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<nb-card>
		  <nb-card-header>Clicks on slider per day</nb-card-header>
		  <nb-card-body>

		  	<ngx-echarts-multi #clicksPerDay></ngx-echarts-multi>
		  </nb-card-body>
		</nb-card>
	</div>

	<div class="col-md-4">
		<nb-card size="small">
			<nb-card-header>
				Algorithm
			</nb-card-header>
			<nb-card-body>
				<p>{{slider?.name}} is using the {{slider?.algorithm}} algorithm.</p>
			</nb-card-body>
			<nb-card-footer>
				<a [routerLink]="['/p/sliders/algorithms', slider?.algorithm != null ? slider?.algorithm : -1]">Read more about the algorithm</a>
			</nb-card-footer>
		</nb-card>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<nb-card size="small">
			<nb-card-header>
				Most recommended by this slider
			</nb-card-header>
			<nb-card-body>
				<nb-list>
			        <nb-list-item *ngFor="let prod of top10">
		        		<div class="row">
				          <div class="col-md-6"><img src="{{prod.image}}" class="prodImage"><a href="{{ prod.url }}" target="_blank">{{prod.name}}</a></div>
				          <div class="col-md-4">{{prod.category}} / {{prod.brand}}</div>
				          <div class="col-md-2">{{prod.recommendations}}</div>
			          </div>
			        </nb-list-item>
			      </nb-list>

			</nb-card-body>
		</nb-card>
	</div>

	<div class="col-md-4">
		<nb-card size="small">
			<nb-card-header>
				Performance #3
			</nb-card-header>
			<nb-card-body>
				<p>Graph here</p>
			</nb-card-body>
		</nb-card>
	</div>

</div>
