.personhead {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.screenshot-example {
	width: 100%;
	max-height: 100%;
}

.prodImage {
	max-width: 30px;
	max-height: 30px;
	margin-right: 5px;
}

.header-button {
    position: relative;
    float: right;
}

.button:hover {
    cursor:pointer!important;
}
