:host {
  &.horizontal .header {
    .step {
      flex-direction: column;
    }

    .connector {
      height: 2px;
    }
  }

  &.vertical {
    display: flex;
    height: 100%;

    .header {
      flex-direction: column;

      .label {
        margin: 0 10px;
      }

      .connector {
        width: 2px;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;

  .connector {
    flex: auto;
  }

  .step {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .label-index {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .label {
    width: max-content;
  }
}

$theme: (
    stepper-index-size: 2rem,
    stepper-label-font-size: 0.875rem,
    stepper-label-font-weight: 500,
    stepper-accent-color: #40dc7e,
    stepper-completed-fg: #ffffff,
    stepper-fg: #a4abb3,
    stepper-completed-icon-size: 1.5rem,
    stepper-completed-icon-weight: 800,
    stepper-step-padding: 1.25rem,
);

@function nb-theme($key) {
  @return map-get($theme, $key);
}

.ngx-stepper {

  &.horizontal {
    .header .step {
      width: nb-theme(stepper-index-size);
      margin: 0 nb-theme(stepper-index-size) / 2;
    }

    .header .connector {
      margin-top: nb-theme(stepper-index-size) / 2;
    }
  }

  &.vertical {
    .header .connector {
      margin: nb-theme(stepper-index-size) / 2;
    }
  }

  .header {
    .connector {
      background-color: nb-theme(stepper-fg);
    }

    .connector-past {
      background-color: nb-theme(stepper-accent-color);
    }

    .label {
      font-size: nb-theme(stepper-label-font-size);
      font-weight: nb-theme(stepper-label-font-weight);
      color: nb-theme(stepper-fg);
    }

    .label-index {
      width: nb-theme(stepper-index-size);
      height: nb-theme(stepper-index-size);
      border-radius: nb-theme(stepper-index-size) / 2;
      border: 2px solid nb-theme(stepper-fg);
      color: nb-theme(stepper-fg);
      font-weight: nb-theme(stepper-label-font-weight);

      .icon {
        font-size: nb-theme(stepper-completed-icon-size);
        font-weight: nb-theme(stepper-completed-icon-weight);
      }
    }

    .step {

      &.selected {
        .label-index {
          border: 2px solid nb-theme(stepper-accent-color);
          color: nb-theme(stepper-accent-color);
        }
        .label {
          color: nb-theme(stepper-accent-color);
          font-weight: nb-theme(stepper-completed-icon-weight);
          font-size: 1rem;
        }
      }

      &.completed {
        .label-index {
          background-color: nb-theme(stepper-accent-color);
          border: 2px solid nb-theme(stepper-accent-color);
          color: nb-theme(stepper-completed-fg);
        }
        .label {
          color: nb-theme(stepper-accent-color);
        }
      }
    }
  }

  .step-content {
    padding: nb-theme(stepper-step-padding);
  }
}
