.form-control-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.shopify-button {
    cursor:pointer!important;
    display: block;
}

.shopify-button.disabled {
    opacity: 0.3;
    cursor: default;
}
