<div class="row">
	<div class="col-md-4">

		<nb-card size="medium">
		  <nb-card-header>
		    Click through rate per brand
		</nb-card-header>
		<ngx-echarts-multi #ctrPerBrand></ngx-echarts-multi>

		</nb-card>

	</div>

	<div class="col-md-8">

		<nb-card size="medium">
		  <nb-card-header>
		    Click through rate per category
		</nb-card-header>
		<ngx-echarts-multi #ctrPerCategory></ngx-echarts-multi>

		</nb-card>

	</div>
</div>
<div class="row">

	<div class="col-md-4">
		<nb-card size="medium">
		  <nb-card-header>
		    Useful definitions
		</nb-card-header>
		<nb-card-body>
			<p class="definition-header">Click through rate (CTR):</p>
			<p>The ratio between the visitor looking at a product (on the frontpage for example) and actually clicking on the product. Clicks / Views.</p>
			<hr>
			<p class="definition-header">Add to cart rate (ATCR)</p>
			<p>The ratio between the visitor being on the product-page and actually adding the product to their cart. Cart-adds / Views on product-page.</p>
			<hr>
			<p class="definition-header">Clicks per product:</p>
			<p>The number of clicks a group of products get per number of products in the group. Can be grouped by brand (eg all Nike products) or category (all chairs). Total clicks / number of products.</p>

		</nb-card-body>

		</nb-card>
	</div>


	<div class="col-md-4">

		<nb-card size="medium">
		  <nb-card-header>
		    Clicks per product (brand)
		</nb-card-header>
			<ngx-echarts-multi #clicksPerProductBrand></ngx-echarts-multi>
		</nb-card>

	</div>

	<div class="col-md-4">

		<nb-card size="medium">
		  <nb-card-header>
		    Clicks per product (category)
		</nb-card-header>
			<ngx-echarts-multi #clicksPerProductCategory></ngx-echarts-multi>
		</nb-card>

	</div>
</div>

<div class="row">
	<div class="col-md-4">

		<nb-card size="medium">
		  <nb-card-header>
		    Click through rate per discount
		</nb-card-header>
			<ngx-echarts-multi #ctrPerSaving></ngx-echarts-multi>
		</nb-card>

	</div>

	<div class="col-md-4">

		<nb-card size="medium">
		  <nb-card-header>
		    Click through rate per price-group
		</nb-card-header>
			<ngx-echarts-multi #ctrPerPricepoint></ngx-echarts-multi>
		</nb-card>

	</div>

	<div class="col-md-4">
		<nb-chat title="Feedback Chat" size="medium" status="info">
		  <nb-chat-message *ngFor="let msg of messages"
		                   [type]="msg.type"
		                   [message]="msg.text"
		                   [reply]="msg.reply"
		                   [sender]="msg.user.name"
		                   [date]="msg.date"
		                   [files]="msg.files"
		                   [quote]="msg.quote"
		                   [latitude]="msg.latitude"
		                   [longitude]="msg.longitude"
		                   [avatar]="msg.user.avatar">
		  </nb-chat-message>
		  <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
		  </nb-chat-form>
		</nb-chat>
	</div>
</div>
