th {
  border-top: none !important;
}

td {
  border:none !important;
}

tr:hover {
  background-color: rgba(0,0,0,0.05);
  cursor: pointer;
}

.title {
  font-weight: 800;
}

.orders {

}

.result {

}

.purpose {

}

