<div class="row">
	<div class="col-md-8 offset-md-2">
		<nb-card [nbSpinner]="loading">
			<nb-card-header>
				Overview of your sliders
			</nb-card-header>
			<nb-card-body >

				<table class="table">
				<thead>
				    <tr>
				      <th scope="col">Title</th>
				      <th scope="col">Category</th>
				      <th scope="col">Algorithm</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr *ngFor="let slider of sliders" [routerLink]="[slider.id]">
				      <td class="title">{{slider.title}}</td>
				      <td class="purpose">{{slider.category}}</td>
				      <td class="algorithm">{{slider.algorithm}}</td>
				    </tr>
				  </tbody>
				</table>

			</nb-card-body>
		</nb-card>
	</div>
</div>

<div class="row">
	<div style="text-align: center;" class="col-md-8 offset-md-2">
		<button nbButton hero size="large" status="success" routerLink="/p/sliders/new">+ Create a new slider</button>
	</div>
</div>
