#installshopify {
    transition: box-shadow .3s;
}

#installshopify:hover {
    -webkit-box-shadow: 0px 10px 42px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 42px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 42px -20px rgba(0,0,0,0.75);
}

.shopify-button {
    cursor:pointer;
    display: block;
}

.shopify-button.disabled {
    opacity: 0.3;
    cursor: default;
}

.url-input {
    display: block;

    width: 30%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    font-size: 18pt!important;
}

.url-input::placeholder {
    font-size: 18pt!important;
}
