<nb-layout [center]="false" windowMode="false">
    <nb-layout-column class="main-content">

        <div class="col-md-8 offset-md-2" *ngIf="introState === 'shop'">
            <nb-card>
              <nb-card-body>
                <h1 style="text-align: center; margin-bottom: 30px;">Butlerhub</h1>


                <ngx-stepper orientation="horizontal">


                  <ngx-step label="Start">
                    <h3>You're about to implement AI on your site! 🙌</h3>
                    <p>Welcome to Butlerhub! We are thrilled to see that you are interested in using our artificial intelligence to optimize your webshop.</p>
                    <p>We have done everything we could to make Butlerhub as easy to implement and use as possible. This short guide will help you implement Butlerhub and create your first slider in <b>under 5 minutes.</b></p>
                    <p>Press the green "Start" button to start this guide. Thank you for using Butlerhub. 👌</p>

                    <button class="float-right" nbButton ngxStepperNext hero status="success">Start</button>
                  </ngx-step>


                  <ngx-step label="Shopify app">
                    <div style="text-align: center;width: 100%; margin-bottom: 100px; margin-top: 100px;">

                        <h2>Enter the url of your shop:</h2>
                        <input [status]="shopURLValid() ? 'success' : 'info'" (keyup)="URLChanged($event.target, $event.target.value)" #urlInput class="url-input" nbInput size="large" placeholder="myshop.com" />

                        <a (click)="installButtonClicked()" [nbSpinner]="isLoading" class="shopify-button" [class.disabled]="!shopURLValid()">
                            <img id="installshopify" style="max-width: 300px; width: 100%;" src="./assets/images/installshopify.png">
                        </a>

                    </div>
                    <button nbButton ngxStepperPrevious outline status="warning" size="small">Back</button>
                  </ngx-step>


                  <ngx-step label="We're live!">
                    <h3>Hurray - you have implemented Butlerhub! </h3>
                    <p>In 5 minutes we will have finished our analyzes of your products and orders, so we can start the first recommendations.</p>
                    <p style="margin-bottom: 50px;">Let's create the first slider, so you can start recommending the best products for your visitors! 😎🛍</p>
                    <button class="float-right" nbButton ngxStepperNext hero size="large" status="success" routerLink="/p/sliders/new">Create first slider</button>
                  </ngx-step>


                </ngx-stepper>


              </nb-card-body>
            </nb-card>
        </div>

        <ngx-sliders-new *ngIf="introState === 'slider'"></ngx-sliders-new>

    </nb-layout-column>
</nb-layout>
