<div class="row">
	<div class="col-md-8">
		<nb-card>
		  <nb-card-header><h1>{{algorithm?.title}}</h1></nb-card-header>
		  <nb-card-body>

		  	<p><b>{{algorithm?.description}}</b></p>
		  	<p *ngFor="let line of algorithm?.long_description?.split('\n')">
		  		{{line}}
		  	</p>

		  	<hr style="margin-top: 100px;">
		  	<div class="row">
			  	<div class="col-md-6">
				  	<p><b>Start date:</b> {{algorithmDetails?.first_in_action | date:'dd MMM yyyy' | lowercase }}</p>
				  	<p><b>Number of shops:</b> {{algorithmDetails?.shops}}</p>
				  	<p><b>Times updated:</b> (can not be found)</p>
			  	</div>
			  	<div class="col-md-6">
				  	<p><b>Best placement(s):</b> (can not be found)</p>
				  	<p><b>Total sales:</b> (can be found later)</p>
				  	<p><b>Total recommendations:</b> {{algorithmDetails?.recommendations}}</p>
			  	</div>
		  	</div>
		  </nb-card-body>
		</nb-card>
	</div>

	<div class="col-md-4">
		<nb-card size="small">

			<nb-accordion>
				<nb-accordion-item disabled="true">
				  <nb-accordion-item-header>
				    <h4>The team behind:</h4>
				  </nb-accordion-item-header>
				  <nb-accordion-item-body>

				  </nb-accordion-item-body>
				</nb-accordion-item>
			  <nb-accordion-item>
			    <nb-accordion-item-header>
			      <img class="personhead" width=50 src="./assets/images/marijana.png">Marijana (fashion)
			    </nb-accordion-item-header>
			    <nb-accordion-item-body>
			      <p>Marijana has worked as a Visual Merchandiser, production manager and social media manager for various fashion-companies like H&M, Calzedonia and Sinsay.</p>
			      <p>She has a fashion-blog that has been live since 2014 and more than 10.000 people follow her daily life on Instagram.</p>
			    </nb-accordion-item-body>
			  </nb-accordion-item>

			  <nb-accordion-item>
			    <nb-accordion-item-header>
			      <img class="personhead" width=50 src="./assets/images/tanja.png">Tanja (fashion)
			    </nb-accordion-item-header>
			    <nb-accordion-item-body>
			    	<p>Tanja is a fashion stylist and a former Polyvore set designer, with more than 130.000 followers and 18 million views on her fashion outfits.</p>
			    	<p>She has categorized products for more than 5 years, working for some of the largest fashion-companies in the world.</p>
			    </nb-accordion-item-body>
			  </nb-accordion-item>
			  <nb-accordion-item>
			    <nb-accordion-item-header>
			      <img class="personhead" width=50 src="./assets/images/yasir.png">Yasir (fashion)
			    </nb-accordion-item-header>
			    <nb-accordion-item-body>
			      <p>Yasir has with his Ph.D. in Textile engineering from the Italian university Politecnice di Torino accumulated a lot of knowledge about textiles and fashion.</p>
			      <p>He has worked in the fashion-industry for 8 years and has developed various fashion products.</p>
			    </nb-accordion-item-body>
			  </nb-accordion-item>
			  <nb-accordion-item>
			    <nb-accordion-item-header>
			      <img class="personhead" width=50 src="./assets/images/zsofia.png">Zsofia (fashion)
			    </nb-accordion-item-header>
			    <nb-accordion-item-body>
			      <p>Zsofia is an experienced lady with more than 25 years experience in the fashion industry.</p>
			      <p>She holds a Master's degree in Knitwear and Clothing and has had various jobs in fashion-companies within departments like production and ecommerce.</p>
			    </nb-accordion-item-body>
			  </nb-accordion-item>
			</nb-accordion>
		</nb-card>
	</div>
</div>

<div class="row" style="margin-top: 300px;">
	<div class="col-md-6 offset-md-3">
		<nb-chat title="Feedback Chat" size="small" status="info">
		  <nb-chat-message *ngFor="let msg of messages"
		                   [type]="msg.type"
		                   [message]="msg.text"
		                   [reply]="msg.reply"
		                   [sender]="msg.user.name"
		                   [date]="msg.date"
		                   [files]="msg.files"
		                   [quote]="msg.quote"
		                   [latitude]="msg.latitude"
		                   [longitude]="msg.longitude"
		                   [avatar]="msg.user.avatar">
		  </nb-chat-message>
		  <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
		  </nb-chat-form>
		</nb-chat>
	</div>
</div>
