<div class="row" *ngFor="let categoryRow of categories">
	<div class="col-md-4" *ngFor="let category of categoryRow">
		<nb-card size="medium">
			<nb-card-header>
				{{category.title}}
			</nb-card-header>
			<nb-list>
				<nb-list-item *ngFor="let algorithm of algorithmsForCategory(category)">
					<nb-user [name]="algorithm.title" [title]="algorithm.description">
					</nb-user>

				</nb-list-item>
			</nb-list>
		</nb-card>
	</div>
</div>



<!--
<div class="row">
	<div class="col-md-4">
		<nb-card size="small">
			<nb-card-header>
				For up- and cross selling
			</nb-card-header>
			<nb-list>
				<nb-list-item *ngFor="let user of users" (click)="algorithm_click(user)">
					<nb-user [name]="user.name" [title]="user.title">
					</nb-user>
				</nb-list-item>
			</nb-list>
		</nb-card>
	</div>

	<div class="col-md-4">
		<nb-card size="small">
			<nb-card-header>
				For related products
			</nb-card-header>
			<nb-list>
				<nb-list-item *ngFor="let user of users">
					<nb-user [name]="user.name" [title]="user.title">
					</nb-user>
				</nb-list-item>
			</nb-list>
		</nb-card>
	</div>

	<div class="col-md-4">
		<nb-card size="small">
			<nb-card-header>
				For visitor's favorites
			</nb-card-header>
			<nb-list>
				<nb-list-item *ngFor="let user of users">
					<nb-user [name]="user.name" [title]="user.title">
					</nb-user>
				</nb-list-item>
			</nb-list>
		</nb-card>
	</div>
</div> -->