#installshopify {
	transition: box-shadow .3s;
}

#installshopify:hover {
  -webkit-box-shadow: 0px 10px 42px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 42px -20px rgba(0,0,0,0.75);
box-shadow: 0px 10px 42px -20px rgba(0,0,0,0.75);
}
	/* FOR PIXEL COPYING*/
	#wrapper {
	  padding:5%;
	  margin:0 auto;
	  max-width: 1200px;
	}

	/* CSS Simple Pre Code */
	pre {
	    background: #333;
	    white-space: pre;
	    word-wrap: break-word;
	    overflow: auto;
	}

	pre.code {
	    margin: 20px 25px;
	    border-radius: 4px;
	    border: 1px solid #292929;
	    position: relative;
	}

	pre.code label {
	    font-family: sans-serif;
	    font-weight: bold;
	    font-size: 13px;
	    color: #ddd;
	    position: absolute;
	    left: 1px;
	    top: 15px;
	    text-align: center;
	    width: 60px;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    pointer-events: none;
	}

	pre.code code {
	    font-family: "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
	    display: block;
	    margin: 0 0 0 60px;
	    padding: 15px 16px 14px;
	    border-left: 1px solid #555;
	    overflow-x: auto;
	    font-size: 13px;
	    line-height: 19px;
	    color: #ddd;
	}

	pre#pixelcode::after {
	    content: "click to select";
	    padding: 0;
	    width: auto;
	    height: auto;
	    position: absolute;
	    right: 18px;
	    top: 14px;
	    font-size: 12px;
	    color: #ddd;
	    line-height: 20px;
	    overflow: hidden;
	    -webkit-backface-visibility: hidden;
	    transition: all 0.3s ease;
	}

	pre:hover::after {
	    opacity: 0;
	    visibility: visible;
	}

	pre.code-css code {
	    color: darkgrey;
	}

	pre.code-html code {
	    color: #aed581;
	}