<div class="row">
	<div class="col-md-6">
		<nb-card>
			<nb-card-header>
				Your account settings
			</nb-card-header>
			<nb-card-body>
				<p><b>Company name</b></p>
				<input type="text" nbInput fullWidth placeholder="Company Name Inc.">

				<p><b>Email</b></p>
				<input type="text" nbInput fullWidth placeholder="email@company.com">

				<p><b>Address</b></p>
				<input type="text" nbInput fullWidth placeholder="Address 52, 4200 Valby">

				<p><b>Country</b></p>
				<input type="text" nbInput fullWidth placeholder="Country">

				<p><b>New password (if you want to change)</b></p>
				<input type="text" nbInput fullWidth placeholder="**********">

				<button class="float-right" nbButton hero status="success">Save</button>
			</nb-card-body>
		</nb-card>
	</div>

	<div class="col-md-3 offset-md-3">
		<nb-card>
			<nb-card-header>
				Your stats
			</nb-card-header>
			<nb-card-body>
				<p><b>Sliders used:</b></p>
				<p class="stat">1 out of 5</p>
				<p><b>Algorithms avaliable:</b></p>
				<p class="stat">3 out of 25</p>
				<p><b>Total recommendations:</b></p>
				<p class="stat">31.275.427</p>
				<a href="#">See better plans</a>
			</nb-card-body>
		</nb-card>
	</div>
</div>