<div class="row">
	<div class="col-md-4">

		<nb-card size="medium">
		  <nb-card-header>
		    Products per brand
		</nb-card-header>
		<ngx-echarts-multi #productsPerBrand></ngx-echarts-multi>

		</nb-card>

	</div>

	<div class="col-md-8">

		<nb-card size="medium">
		  <nb-card-header>
		    Products per category
		</nb-card-header>
		<ngx-echarts-multi #productsPerCategory></ngx-echarts-multi>

		</nb-card>

	</div>
</div>
<div class="row">

	<div class="col-md-4">
		<nb-chat title="Feedback Chat" size="medium" status="info">
		  <nb-chat-message *ngFor="let msg of messages"
		                   [type]="msg.type"
		                   [message]="msg.text"
		                   [reply]="msg.reply"
		                   [sender]="msg.user.name"
		                   [date]="msg.date"
		                   [files]="msg.files"
		                   [quote]="msg.quote"
		                   [latitude]="msg.latitude"
		                   [longitude]="msg.longitude"
		                   [avatar]="msg.user.avatar">
		  </nb-chat-message>
		  <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
		  </nb-chat-form>
		</nb-chat>
	</div>


	<div class="col-md-4">

		<nb-card size="medium">
		  <nb-card-header>
		    Products per price-range
		</nb-card-header>
			<ngx-echarts-multi #productsPerPricepoint></ngx-echarts-multi>
		</nb-card>

	</div>

	<div class="col-md-4">

		<nb-card size="medium">
		  <nb-card-header>
		    Products per discount
		</nb-card-header>
			<ngx-echarts-multi #productsPerSaving></ngx-echarts-multi>
		</nb-card>

	</div>
</div>


<!-- <div class="row">
	<div class="col-md-4">

		<nb-card size="medium">
		  <nb-card-header>
		    helloworld
		</nb-card-header>
		<ngx-echarts-multi #atcAndCtr></ngx-echarts-multi>

		</nb-card>

	</div>

	<div class="col-md-8">

		<nb-card size="medium">
		  <nb-card-header>
		    Test from Andreas :-)
		</nb-card-header>

		<ngx-echarts-multi #test_andreas></ngx-echarts-multi>

		</nb-card>

	</div>
</div> -->
