.algorithm-chooser {
	border-radius: 5px;
	border: 2px solid lightgrey;
	padding: 20px;
	transition: 1s;
	height: 100%;
}

.algorithm-chooser:hover {
	border: 2px solid grey;
	transition: 1s;
	cursor: pointer;
}

.algorithm-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.inactive {
  opacity: 0.3;
}

.inactive:hover {
  cursor: default;
}

.recommended-label {
	background-color: #2ecc71;
	color: white;
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px;
	border-radius: 5px;
	font-size: 10pt;
}

.unrecommended {
	background-color: #e74c3c!important;
}

.algorithm-chooser-icon {
	font-size: 48pt;
	text-align: center;
}

.page h4 {
	text-align: center;
}

.algorithm-chooser label:hover {
	cursor: pointer!important;
}

.implementation-instruction {
	margin-top: 100px;
}

.implementation-instruction::first-letter {
	font-weight: bold;
	font-size: 150%;
}

.implementation-image {
	width: 100%;
}

.image-page {
	width: 50%;
	height: 50%;
	margin-bottom: 20px;
}

#choosePosition {
    transition: box-shadow .3s;
    margin-top: 100px;
    margin-bottom: 100px;
}

#choosePosition:hover {
    -webkit-box-shadow: 0px 10px 42px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 42px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 42px -20px rgba(0,0,0,0.75);
}

.shopify-button {
    cursor:pointer;
    display: block;
    text-align: center;
}

.shopify-button.disabled {
    opacity: 0.3;
    cursor: default;
}

svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
