<div class="row">
	<div class="col-md-8 offset-md-2">
		<nb-card>
		  <nb-card-body>
		    <ngx-stepper #stepper orientation="horizontal">

		   	  <ngx-step label="Start">
		        <h3>Let's make a slider!</h3>
		        <button class="float-right" nbButton ngxStepperNext hero status="success" size="large">Start</button>
		      </ngx-step>

		      <ngx-step label="Placement">
		        <h3>Where do you want a slider?</h3>
		        <p>We need to know the placement of this slider, so we can find the best algorithms for this page.</p>
		                <div class="row algorithm-row" *ngFor="let categoryRow of categories">
		        	        <div class="col-md-6" *ngFor="let category of categoryRow">
		        	        	<div [class.inactive]="!category.active" (click)="categoryClicked(category);" class="col-md-12 page algorithm-chooser">
		        	        		<!-- <div class="recommended-label">recommended</div> -->
		        			        	<div class="icon algorithm-chooser-icon">
		        			        		<img class="image-page" src="assets/images/icons/{{category.icon_name}}.png">
		        			        	</div>
		        			        	  <h4>{{category.title}}</h4>
		        			        	  <!-- <p *ngFor="let line of page.description.split('. ')">{{line}}</p> -->
		        		    	</div>
		        	        </div>
		                </div>
		                <button nbButton ngxStepperPrevious outline status="warning" size="small">Back</button>
		      </ngx-step>

		      <ngx-step label="Algorithm">
		        <h3>Choose the algorithm to use for this {{filledForm.category?.title}}-slider</h3>

		        <div class="row algorithm-row" *ngFor="let algorithm of algorithmsForCategory(filledForm.category)">
			        <div class="col-md-12">
			        	<div (click)="algorithmClicked(algorithm);" class="col-md-12 algorithm-chooser">
			        		<!-- <div class="recommended-label">recommended</div> -->
			        		<h4><b>{{algorithm.title}}</b></h4>
							<p *ngFor="let line of algorithm.description.split('. ')">{{line}}</p>
					        <!-- <nb-checkbox></nb-checkbox> -->
				    	</div>
			        </div>
		        </div>

		        <button nbButton ngxStepperPrevious outline status="warning" size="small">Back</button>

		      </ngx-step>

		      <ngx-step label="Title">
		        <h3>Give your slider a title</h3>
		        <p>This title will be displayed above the slider. It can be changed later.</p>
		        <input (keyup)="nameChanged($event.target, $event.target.value)" style="margin-bottom: 0px; margin-top: 50px;" type="text" nbInput fullWidth fieldSize="large" placeholder="Your title">
		        <img style="margin-top: 50px; margin-bottom: 100px; width: 100%;" src="assets/images/yourtitle.jpg">
		        <button nbButton ngxStepperPrevious outline status="warning" size="small">Back</button>

				<button (click)="saveSlider()" style="float: right; " nbButton hero size="small" status="success" [nbSpinner]="saveLoading">+ Create slider</button>

	        	<!-- <button #nameButton [disabled]="!isNameValid()" class="float-right" nbButton ngxStepperNext hero status="success">Next</button> -->
		      </ngx-step>

		      <ngx-step label="Position">
		        <h3>Select your slider position</h3>
		        <p>Click the green button in order to select the position you want for the slider.</p>

		        <a (click)="choosePosition()" class="shopify-button">
		            <img id="choosePosition" style="max-width: 300px; width: 100%;" src="./assets/images/choose_position.png">
		        </a>
		        <!-- <button nbButton ngxStepperPrevious outline status="warning" size="small">Back</button> -->
	        	<!-- <button #nameButton [disabled]="!isNameValid()" class="float-right" nbButton ngxStepperNext hero status="success">Next</button> -->

		      </ngx-step>

		      <ngx-step label="Done" >
		      	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
		      	  <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
		      	  <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
		      	</svg>
		      	<h2 style="text-align: center;margin-top: 20px;">You have just implemented it! 🙌</h2>
		      	<p  style="text-align: center;">It will be live on your site in a while.</p>
		      	<div class="row">
		      		<div style="text-align: center;" class="col-md-8 offset-md-2">
		      			<button [nbSpinner]="doneLoading" nbButton hero size="large" status="success" (click)="done()">Done</button>
		      		</div>
		      	</div>
		      	<!--
		        <h3 style="text-align: center;">Now you just need to implement it! 🙌</h3>
		        <div *ngIf="filledForm.category?.id !== 1">
		        	<h4 class="implementation-instruction">1: Copy this code for your {{filledForm.category?.title}}-slider</h4>
		        	<pre style="font-size: 16pt;overflow:auto;"><mark style="background-color: #ecf0f1;color: black; font-weight: bold;">&#x3C;div class=&#x22;butlerhub-slider&#x22; id=&#x22;{{createdSlider?.name}}&#x22;&#x3E;&#x3C;/div&#x3E;</mark></pre>
		        	<h4 class="implementation-instruction">
		        		2: Go to <a href="https://{{(api.getUser() | async)?.shop}}/admin/themes" target="_blank">your theme</a>, press "actions" and then "Edit code"
		        	</h4>
		        	<img class="implementation-image" src="assets/images/editcode1.jpg">
		        	<h4 class="implementation-instruction">3: Find the page you want to add it to ({{filledForm.category?.title}})</h4>
		        	<h4 class="implementation-instruction">4: Paste the code where on the page you want it</h4>
		        	<h4 class="implementation-instruction" style="margin-bottom: 100px;">5: Save. Grab the popcorn and cheer! It's live! 🙌🎉🎈🌤</h4>
		        	<div class="row">
		        		<div style="text-align: center;" class="col-md-8 offset-md-2">
		        			<button [nbSpinner]="doneLoading" nbButton hero size="large" status="success" (click)="done()">Done</button>
		        		</div>
		        	</div>
		        </div>


		        <div *ngIf="filledForm.category?.id === 1">
			        <h4 class="implementation-instruction">1: Copy the id of your {{filledForm.category?.title}}-slider</h4>
			        <pre style="font-size: 16pt;"><mark style="background-color: #ecf0f1;color: black; font-weight: bold;">{{createdSlider?.name}}</mark></pre>
			        <h4 class="implementation-instruction">
			        	2: Go to <a href="https://{{(api.getUser() | async)?.shop}}/admin/themes" target="_blank">your theme</a> and press "Customize"
			        </h4>
			        <img class="implementation-image" src="assets/images/implementation_step2.jpg">
			        <h4 class="implementation-instruction">3: Add a Butlerhub-slider as a section wherever you want it</h4>
			        <img class="implementation-image" src="assets/images/implementation_step3.jpg">
			        <h4 class="implementation-instruction">4: Paste the name into the id-field and save</h4>
			        <img class="implementation-image" src="assets/images/implementation_step4.jpg">
			        <h4 class="implementation-instruction" style="margin-bottom: 100px;">5: Grab the popcorn and cheer! It's live! 🙌🎉🎈🌤</h4>
			        <div class="row">
			        	<div style="text-align: center;" class="col-md-8 offset-md-2">
			        		<button [nbSpinner]="doneLoading" nbButton hero size="large" status="success" (click)="done()">Done</button>
			        	</div>
			        </div>
			    </div> -->
		      </ngx-step>
		    </ngx-stepper>
		  </nb-card-body>
		</nb-card>
	</div>
</div>
